* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(204, 189, 244);
}

.App {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-y: hidden;
}

.bg-container {
  width: 100%;
  margin-top: 60px;
  /* position: absolute;
  top: 200px;
  left: 0; */
  z-index: 999;
}

.d-flex {
  display: flex;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.outer-king-container {
  position: fixed;
  bottom: -1px;
  right: 20px;
  width: 200px;
  height: 240px;
  animation: moveking 30s 15s infinite ease-in-out;
}

@keyframes moveking {
  0% {
    bottom: -1px;
  }
  30% {
    bottom: -100px;
  }
  40% {
    bottom: -130px;
  }
  45% {
    bottom: -80px;
  }
  55% {
    bottom: -80px;
  }
  60% {
    bottom: -250px;
  }
  90% {
    bottom: -250px;
  }
  100% {
    bottom: -1px;
  }
}

/* @keyframes moveUp {
  transform: translate(100px)
} */

::-webkit-scrollbar {
  /* width: 10px; */
}

/* Track */
::-webkit-scrollbar-track {
  /* background: #f1f1f1;  */
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: red; 
    border-radius: 10px */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: #555;  */
}

/* @media only screen and (max-width: 700px) {
  body {
    background-color: red;
  }
} */
